{% extends 'base.html.twig' %}

{% block title %}HMessagerie!{% endblock %}

{% block body %}
<div class="titre-Accueil">
<h1>Message</h1>
</div>
{% for contac in contact %}
<section class="message">
    <p>{{contac.idUtilisateurcontact.identifiant}}</p>
    <p class="numero">{{contac.idUtilisateurcontact.numTel}}</p>
    <p>{{contac.idUtilisateurcontact.email}}</p>
    <p>{{contac.messageContact}}</p>
    <p>{{contac.objetContact}}</p>
</section>
{% endfor %}
{% endblock %}
